*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

# Eclipse ignores
.classpath
.settings
.project

auth.properties

.dbeaver-data-sources.xml
/misc/

#ignore logging directory
logs
/logs.old/

#ignore generated jar files
AddLinks*jar

scripts/resources
